body, html {
  background: url(../img/medina_voando.avif);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  margin: 0;
  position: fixed;
}

